name: local-gov-code-jp

services:
  builder:
    build:
      context: .
    volumes:
      - ./build:/app/build
      - ./index.json:/app/index.json:cached
      - ./prefectures.json:/app/prefectures.json:cached
      - ./cities.json:/app/cities.json:cached
      - ./wards.json:/app/wards.json:cached
      - ./jp_local_gov_codes.mysql.sql:/app/jp_local_gov_codes.mysql.sql:cached
      - ./jp_local_gov_codes.sqlite.sql:/app/jp_local_gov_codes.sqlite.sql:cached
