name: Build

on:
  push:
    branches:
      - master
      - dev
  pull_request:
    branches:
      - '*'
  schedule:
    - cron: "0 7 2 * *"
      branches:
        - master

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.4
          extensions: gd, zip
          coverage: xdebug

      - name: Get composer cache directory
        id: composer-cache
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: ${{ runner.os }}-composer-

      - name: Install dependencies
        run: composer install --prefer-dist

      - name: Run build
        run: |
          composer build

      - name: Run check
        run: |
          composer check

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        with:
          commit-message: "Update from script"
          committer: GitHub <noreply@github.com>
          title: "Update from script"
          body: "This is an automated pull request to update from script"
          branch: build-${{ github.run_id }}
